SUBSYSTEM=="hidraw",ATTRS{idVendor}=="2833",ATTRS{idProduct}=="0001",SYMLINK+="RiftDK1",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{idVendor}=="2833",ATTRS{idProduct}=="0021",SYMLINK+="RiftDK2",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{../idVendor}=="2833",ATTRS{../idProduct}=="0031",ATTRS{bInterfaceNumber}=="00",SYMLINK+="RiftCV1",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{../idVendor}=="2833",ATTRS{../idProduct}=="0031",ATTRS{bInterfaceNumber}=="01",SYMLINK+="RiftCV1_input",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{../idVendor}=="2833",ATTRS{../idProduct}=="0051",ATTRS{bInterfaceNumber}=="06",SYMLINK+="RiftS_6",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{../idVendor}=="2833",ATTRS{../idProduct}=="0051",ATTRS{bInterfaceNumber}=="07",SYMLINK+="RiftS_7",MODE="0666"
SUBSYSTEM=="hidraw",ATTRS{../idVendor}=="2833",ATTRS{../idProduct}=="0051",ATTRS{bInterfaceNumber}=="08",SYMLINK+="RiftS_8",MODE="0666"
KERNEL=="ttyACM[0-9]*",ATTRS{idVendor}=="1532",ATTRS{idProduct}=="0b00",SYMLINK+="OSVRtty",MODE="0666"
SUBSYSTEM=="hidraw",,ATTRS{idVendor}=="1532",ATTRS{idProduct}=="0b00",SYMLINK+="OSVRraw",MODE="0666"
KERNEL=="hiddev[0-9]*",ATTRS{idVendor}=="1532",ATTRS{idProduct}=="0b00",SYMLINK+="OSVRhid",MODE="0666"
